@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-dropdowns/styles/material.css";

.my_tooltip {
  width: 300px;
  max-height: 350px;
  overflow-y: scroll;
  word-break: keep-all;
  text-align: justify;
}

.info-content {
  width: 96%;
  height: 100%;
  padding: 5px;
  /* background-color: rgb(244, 244, 244); */
}

.list-paragraphs {
  max-width: 300px;
  max-height: 200px;
}

.title {
  margin-inline: 10px;
  margin-block: 15px;
  font-size: 20px;
  color: cadetblue;
  font-weight: bold;
}

.subtitle {
  font-size: 18px;
  font-weight: bold;
  margin-inline: 10px;
  margin-bottom: -5px;
}

.paragraph {
  margin-top: 10px;
  font-size: 16px;
  color: gray;
  margin-inline: 10px;
}

.headerTooltip {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.node-card {
  max-width: 200px;
  height: min-content;
  background-color: rgb(244, 244, 244);
  padding: 1px;
  margin-block: 10px;
}

.node-subtitle {
  font-size: 13px;
  font-weight: bold;
  margin-inline: 10px;
  margin-bottom: -10px;
}

.node-paragraph {
  font-size: 12px;
  color: gray;
  margin-inline: 10px;
  word-break: break-all;
}

/* Estilos para Scroll en motores Webkit y blink (Chrome, Safari, Opera... )*/
.contenedor {
  margin-bottom: 10px;
}

.contenedor::-webkit-scrollbar {
  -webkit-appearance: none;
}

.contenedor::-webkit-scrollbar:vertical {
  width: 10px;
}

.contenedor::-webkit-scrollbar-button:increment,
.contenedor::-webkit-scrollbar-button {
  display: none;
}

.contenedor::-webkit-scrollbar:horizontal {
  height: 10px;
}

.contenedor::-webkit-scrollbar-thumb {
  background-color: cadetblue;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.contenedor::-webkit-scrollbar-track {
  border-radius: 10px;
}
